.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.score-evaluation-perfect {
  color: #11d116;
}

.score-evaluation-good {
  color: #2ecc71;
}

.score-evaluation-ok {
  color: #c9ce3b;
}

.score-evaluation-bad {
  color: #f67400;
}

.score-evaluation-very-bad {
  color: #ed1515;
}

.slider-value-label {
  color: #0dcaf0;
}

.range {
  --ticksThickness: 2px;
  --ticksHeight: 30%;
  --ticksColor: silver;

  display: inline-block;
  background: silver;
  background: linear-gradient(to right, var(--ticksColor) var(--ticksThickness), transparent 1px) repeat-x;
  background-size: calc(100%/((var(--max) - var(--min)) / var(--step)) - .1%) var(--ticksHeight);
  background-position: 0 bottom;
  position: relative;
}

.bg-blur {
  backdrop-filter: brightness(60%) blur(8px);
}

@supports not (backdrop-filter: brightness(60%) blur(8px)) {
  .bg-blur {
    background: rgba(0,0,0,0.4);
  }
}